.hero{
    background: url("img/hero_Image.png");
    height: 904px;
    width: 1800px;
    left: 0px;
    top: 0px;
    border-radius: 0px;

}

nav{
    /*background:rgba(0, 0, 0, 1) ;
    */
    height: 21px;
    width: 503px;
    left: 985.3577270507812px;
    top: 79px;
    border-radius: 0px;

}

body{
    background-color: red;
    color: white;
}

a{
    font-family: OSWALD;
}

h1{
    font-size: 72px;
    position: absolute;
    top: 383px;
    left: 310px;
}

.hero>p{
    position: absolute;
    top: 505px;
    left: 316px;
    /*font-family: OpenSans;*/
    font-size: 20px;
    text-align: center;
    height: 27px;
    width: 1171.0482177734375px;
    left: 316.0390930175781px;
    top: 505.5px;
    border-radius: nullpx;
}
